html {
    scroll-snap-type: y mandatory;;
}

body {
    background-image: url(../images/canine-compadre-background.png);
}

.scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
}

.snap-section {
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    padding-top: 80px;
}

/* NavBar */
.navbar {
    background-color: #F5EFE0;
    color: #292F3D;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 90%;
}

.navbar-brand {
    font-size: 1.6rem;
    font-weight: 800;
    color: #2D4D38;
}

.navbar-title {
    transition: 0.4s ease;
}

.navbar-title:hover {
    transform: scale(1.1);
}

.nav-item {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 500;
}

/* Home section */
.home-container {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border: 6px solid #F5EFE0;
    border-radius: 1rem;
    padding: 2rem;
}

.header-logo {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    margin-top: 70px;
    border: 3px solid #292F3D;
}

.welcome-text {
    color: #F5EFE0;
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: 35px;
}

.continue-arrow {
    text-decoration: none;
    color: #F5EFE0;
}

.bi-arrow-down {
    font-weight: 1100 !important;
    font-size: 3.4rem !important;
    transition: 0.3s ease;
}

.bi-arrow-down:hover {
    transform: scale(1.3);
}

/* About Section */
.about-container {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border: 6px solid #F5EFE0;
    border-radius: 1rem;
    color: #F5EFE0;
    padding: 2rem;
}

.about-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
    border: 4px solid #F5EFE0;
    border-radius: 1rem;
}

.about-me-text {
    color: #F5EFE0;
    font-size: 1.3rem;
    font-weight: 400;
}

/* Services section */
.services-container {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border: 6px solid #F5EFE0;
    border-radius: 1rem;
    padding: 2rem;
    color: #F5EFE0;
}

.services-container p {
    font-size: 1.3rem;
}

.services-card {
    border: 5px solid #F5EFE0;
    border-radius: 0.6rem;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4);
}

.services-card .card-text a {
    text-decoration: none;
    color: #F5EFE0;
    font-size: 1.3rem;
    font-weight: 600;
}

/* Pricing section */
.pricing-container {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border: 6px solid #F5EFE0;
    border-radius: 1rem;
    padding: 2rem;
    color: #F5EFE0;
}

.equal-table th:first-child,
.equal-table td:first-child {
    width: 70%;
}

.equal-table th:last-child,
.equal-table td:last-child {
    width: 30%;
}
